<div class="cover bg-main-color stagger-block">
  <div class="container">
    <h1 class="cover-hd stagger"><%= 'Portfolio'; %></h1>
    <hr class="hr-short stagger">
    <p class="stagger">M-Otake - Web Designer</p>
  </div>
</div>
