<div class="cover">
  <div class="container-fluid">
    <h1 class="cover-hd"><%= 'Portfolio'; %></h1>
    <hr>
    <p>Web Designer -> mootake</p>
    <p class="hidden-md hidden-lg">
      <span class="label label-info">
        <i class="icon ion-arrow-left-c"></i>
        <span>Swipe</span>
        <i class="icon ion-arrow-right-c"></i>
      </span>
    </p>
    <p class="hidden-xs hidden-sm">
      <span class="label label-info">
        <span>Work lists</span>
      </span>
    </p>
  </div>
</div>
