<div class="cover bg-main-color stagger-block">
  <div class="container">
    <h1 class="cover-hd stagger"><%= 'Portfolio'; %></h1>
    <hr class="hr-short stagger">
    <p class="stagger">M-Otake - Web Designer</p>
    <ul class="list-inline stagger">
      <% var skilLoop = function (val){ %>
        <li><%= val %></li>
      <% }; if(skillset){skillset.forEach(skilLoop); } -%>
    </ul>
  </div>
</div>
