<div class="cover _bg-main-color">
  <div class="container-fluid">
    <h1 class="cover-hd"><%= 'Portfolio'; %></h1>
    <hr>
    <p>M-Otake - Web Designer</p>
    <p>
      <button class="btn btn-link">
        <i class="icon ion-arrow-left-c" aria-hidden="true"></i>
        Work list
      </button>
    </p>
  </div>
</div>
