<div class="cover">
  <div class="container-fluid">
    <h1 class="cover-hd"><%= 'Portfolio'; %></h1>
    <hr>
    <p>Web Designer -> mootake</p>
    <p>
      <button class="btn btn-link">Work list</button>
    </p>
  </div>
</div>
