<footer>
  <div class="container">
    <%- include(ejsRoot('_includes/_components/_go-top')); -%>
    <hr>
    <p class="footer-copy">
      <small>
        &copy; <%= site.copyright %>
      </small>
    </p>
  </div>
</footer>
