<div class="loading">
  <div class="loading-center">
    <div class="loading-center-absolute">
      <div class="object object-one"></div>
      <div class="object object-two"></div>
      <div class="object object-three"></div>
      <div class="object object-four"></div>
    </div>
  </div>
</div>
