body {
  font-family: $primary-font;
}

section > .container {
  padding: {
    top: 30px;
    bottom: 60px;
  }
}

.bg-main-color {
  background: $color-main-b;
  background: linear-gradient(to left, $color-main-b , $color-main-v);
  color: $color-white;
}
