html {
  overflow: auto;
  height: 100%;
  height: 100vh;
}

body {
  position: relative;
  font-family: $primary-font;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.modal-open {
  overflow: hidden;
  height: 100%;
}

section > .container {
  padding: {
    top: 30px;
    bottom: 60px;
  }
}

.bg-main-color,
body {
  background: $color-main;
  background: linear-gradient(to left top, $color-main-v , $color-main-b);
  color: $color-white;
}

h1,
h2,
h3,
h4 {
  color: $color-main;
}

.btn,
a {
  transition: all 0.3s;
}

.hr-short {
  max-width: 220px;
  margin-left: 0;
  margin-right: auto;
}

.pd-top {
  padding-top: 15px;
}
