// Glyphicons font path
$icon-font-path    : "../fonts/"; // Grid settings
$main-sm-columns   : 12;
$sidebar-sm-columns: 4;

// Colors
$color-text        : #333;
$color-base        : #fff;
$color-main        : #27ae60;
//$color-main      : #563D7C;
//$color-main      : #E35671;
$color-sub         : #eee;

$brand-primary     : $color-main;

//Font Famiry
$primary-font      : "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
