// Glyphicons font path
$icon-font-path    : "../fonts/"; // Grid settings
$main-sm-columns   : 12;
$sidebar-sm-columns: 4;
$color-white       : white;
$color-black       : black;
// Colors
$color-base        : $color-white;
$color-main        : #6A65E7;
$color-main-b      : #4776E6;
$color-main-v      : #8E54E9;
$color-text        : $color-main;
$brand-primary     : $color-main;
//Font Famiry
$primary-font      : "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
