#barba-wrapper {
  position: relative;
}

.content {
  padding-top: 35px;

  .page-header {
    color: $color-white;
    font-weight: 100;
    @include MQ(MD) {
      font-size: 6rem;
    }
  }

  figure {
    position: relative;

    &.overlay::before {
      position: absolute;
      z-index: 5;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      content: "";
    }
  }
}
