<div class="cover bg-main-color">
  <div class="container">
    <h1 class="cover-hd"><%= 'Portfolio'; %></h1>
    <hr class="hr-short">
    <p> m-otake</p>
    <ul class="list-inline">
      <% var skilLoop = function (val){ %>
        <li><%= val %></li>
      <% }; if(skillset){skillset.forEach(skilLoop); } -%>
    </ul>
  </div>
</div>
