.btn {
  border-width: 0;
  border-radius: 0;
  box-shadow: 0 6px 12px 0 rgba($color-black, 0.2);

  &:hover {
    box-shadow: 0 4px 12px 0 rgba($color-black, 0.1);
  }
}

.btn-default {
  color: $color-main;
}

.btn-outline {
  border: 1px solid $color-main;
}

.btn-nav {
  position: absolute;
  z-index:50;
  top: 50vh;
  color: $color-white !important;
  //border: 2px solid $color-white !important;
  background: rgba($color-main,0.8);
  box-shadow:none;

  &.next {
    right: 0;
    border-right-color:transparent !important;
  }

  &.prev {
    left: 0;
    border-left-color:transparent !important;

  }

  &:hover {
    text-decoration: none;
    opacity:0.8;
    background: rgba($color-main,0.3);

  }
}
