@import "node_modules/magnific-popup/src/css/main.scss"; // magnific-popup scss

.mfp-bg {
  background: $color-main;
  background: linear-gradient(to left top, darken($color-main-v,20%) , darken($color-main-b,20%));
  opacity: 1;
}

.mfp-wrap {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.mfp-arrow {
  position: fixed;
}

.mfp-fade {
  &.mfp-bg {
    transition: all 0.15s ease-out;
    opacity: 0;

    &.mfp-ready {
      // overlay animate in
      opacity: 0.8;
    }

    &.mfp-removing {
      // overlay animate out
      opacity: 0;
    }
  }

  &.mfp-wrap {
    .mfp-content {
      transition: all 0.15s ease-out;
      // content at start
      opacity: 0;
    }

    &.mfp-ready .mfp-content {
      opacity: 1;
    }

    &.mfp-removing .mfp-content {
      opacity: 0;
    }
  }
}

.mfp-arrow-left:before,
.mfp-arrow-right:before {
  border-color: transparent;
}

.mfp-arrow-left:after {
  border-right-color: darken($color-white,10%);
}

.mfp-arrow-right:after {
  border-left-color: darken($color-white,10%);
}

.mfp-close {
  transition: all 0.3s;
  font-size: 2rem;
}

.popup {
  * {
    backface-visibility: hidden;
  }
  transform: translate3d(0,0,0);
  position: relative;
  width: auto;
  max-width: 1100px;
  margin: 20px auto;
  opacity: 0;
  background: $color-white;
  box-shadow: 0 10px 48px rgba($color-black, 0.19), 0 6px 100px rgba($color-black, 0.23);

  .popup-header {
    padding: 20px;
    color: lighten($color-black,30%);
    background: darken($color-white,5%);
  }

  .popup-body {
    padding: 20px 20px 40px;
  }
}
