<% title  = '' -%>
<% styles  = function () { %><% } -%>
<% contents = function () { %>

  <%- include('_includes/_cover',{ h1txt : 'Hello World', src: '' }); -%>

  <section>
    <div class="container">
      <h2 class="page-header">Headding-2</h2>
      <div class="row">
        <div class="col-sm-7">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-sm-5">
          <img class="img-responsive center-block" src="http://placehold.it/800x400" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="cover">
    <div class="container text-center">
      <h2>Headding-2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </section>

  <section>
    <div class="container">
      <h2 class="page-header">Headding-2</h2>
      <div class="row">
        <div class="col-sm-4">
          <h3 class="text-center">Headding-3</h3>
          <p><img class="img-responsive img-circle center-block" src="http://placehold.it/200x200" alt=""></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button class="btn btn-primary btn-block">button</button>
        </div>
        <div class="col-sm-4">
          <h3 class="text-center">Headding-3</h3>
          <p><img class="img-responsive img-circle center-block" src="http://placehold.it/200x200" alt=""></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button class="btn btn-primary btn-block">button</button>
        </div>
        <div class="col-sm-4">
          <h3 class="text-center">Headding-3</h3>
          <p><img class="img-responsive img-circle center-block" src="http://placehold.it/200x200" alt=""></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button class="btn btn-primary btn-block">button</button>
        </div>
      </div>
    </div>
  </section>

<img src="<%= root('images/main.png'); %>" alt="">

<% } -%>
<% scripts = function () { %><% } -%>
<% include _includes/_base -%>
