<%# -------------------------------------------- -%>

<% title  = 'Portfolio - mootake'; -%>

<%# -------------------------------------------- -%>

<% styles = function () { %>
  <%# ページ固有のCSSを追記 %>
<% }; -%>

<%# -------------------------------------------- -%>

<% contents = function  () { %>

  <%- include(ejsRoot('_includes/_layout/_cover'),{ h1txt : 'Hello World', src: '' }); -%>

  <div class="container">
    <div class="content">
      <h2 class="page-header">Headding-2</h2>
      <div class="row">
        <div class="col-sm-4">

          <div class="panel panel-card">
            <figure>
              <img class="img-responsive center-block" src="http://placehold.it/800x400" alt="">
            </figure>
            <div class="panel-body">
              <h3 class="page-header">Headding-3</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="panel-footer"></div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <%# <section class="bg-main-color">
    <div class="container text-center">
      <h2>Headding-2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </section>%>


<% }; -%>

<%# -------------------------------------------- -%>

<% scripts = function () { %>
  <%# ページ固有のjsを追記 %>
<% }; -%>

<%# -------------------------------------------- -%>
<%# ベースをインクルード (注：このファイルからの相対パスで指定する必要があります) %>
<% include _includes/_base -%>
