<% title    = 'Portfolio - mootake'; -%>
<% contents = function () { %>

  <h2>Products</h2>
  <hr/>
  <%- include(ejsRoot('_includes/_components/_sort-button')); -%>
  <hr/>
  <div id="container">
    <%- include(ejsRoot('_includes/_components/_thumbnail')); -%>
  </div>

<% }; -%>
<% styles = function () { %><% }; -%>
<% scripts = function () { %><% }; -%>
<% include _includes/_base -%>
