<% title    = 'Portfolio - mootake'; -%>
<% contents = function () { %>

  <%- include(ejsRoot('_includes/_layout/_cover'),{ h1txt : 'Hello World', src: '' }); -%>

  <div class="container">
    <div class="slide-in">
      <div class="content">
        <h2>Products</h2>
        <hr/>
        <%- include(ejsRoot('_includes/_components/_mix-controller')); -%>
        <hr/>
        <div id="container">
          <%- include(ejsRoot('_includes/_components/_thumbnail-loop')); -%>
        </div>
      </div>
    </div>
  </div>

<% }; -%>

<% include _includes/_base -%>
