<div class="btn-mix-controller slide-in">
  <button class="filter btn btn-primary" data-filter="all">
    <strong>
      <i class="fa fa-th" aria-hidden="true"></i>
    </strong>
  </button>
  <%
    if(skillset){
      var skillsetMixButtonLoop = function (element,index,array){
        var className = snake2camel(array[index]).toLowerCase();
        -%>
        <button class="filter btn btn-primary" data-filter="<%= '.skill-' + className %>">
          <%= array[index] %>
        </button>
        <%
      };
      skillset.forEach(skillsetMixButtonLoop);
    }
  -%>
</div>
