<button class="sp-nav-icon sp-nav-icon-spin" type="button">
   <span class="sp-nav-icon-box">
     <span class="sp-nav-icon-inner"></span>
   </span>
   <%# <span class="sp-nav-text">MENU</span>%>
 </button>
