<h2 class="page-header">Headding-2</h2>
<div class="row">
  
  <div class="col-sm-4 mix">
    <div class="panel-card">
      <figure>
        <img class="img-responsive center-block" src="//placehold.it/800x400" alt="">
      </figure>
      <p>sample</p>
      <a href="#test-popup" class="btn btn-primary btn-block" data-mfp="inline">Detail</a>
    </div>
    <%- include(ejsRoot('_popup-contents')); -%>
  </div>

</div>
